body{
  background-color: #f8f9fa;
  color: #343a40 ;
}
.frame-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .frame-img {
    width: 20%;
    height: auto;
  }
  
  .frame-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .frame-name {
    margin-bottom: 10px;
  }
                           
  .frame-course {
    font-weight: bold;
  }
  .card-body {
    display: flex;
  }
  
  .card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .square-image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto; /* Center the image */
  }
  
  .square-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .admission-container {
    display: flex;
    height: 110vh;
  }
  
  .image-container {
    padding: 0;
  }
  
  .admission-image {
    width: 100%;
    height: 110vh;
    object-fit: cover;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 2rem; */
  }
  .width{
    width: auto;
  }
  .card-title{
    margin-right: 20px;
  }
  /* AllStudents.css */

.card-img {
  cursor: pointer;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.modal-body p {
  margin-bottom: 0.5rem;
}
/* Custom font sizes for responsive design */
.appbar-title {
  font-size: 2.5rem; /* Default font size for large screens */
  text-align: center;
}

/* Font size adjustments for smaller screens */
@media (max-width: 576px) {
  .appbar-title {
    font-size: 1.5rem; /* Smaller font size for extra-small screens */
  }
}

/* Font size adjustments for medium screens */
@media (max-width: 768px) {
  .appbar-title {
    font-size: 2rem; /* Medium font size for small screens */
  }
}

/* Font size adjustments for large screens */
@media (min-width: 992px) {
  .appbar-title {
    font-size: 2.5rem; /* Font size for medium-large screens */
  }
}

/* Logout image styling */
.user-image {
  height: 40px;
  margin-left: 16px;
  cursor: pointer;
  border-radius: 50%;
}

/* fontSize={{ xs: '1.5rem', sm: '2rem', md: '2.5rem', lg: '3rem' }} */