body{
  background-color: #f8f9fa;
  color: #343a40 ;
}
.frame-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .frame-img {
    width: 20%;
    height: auto;
  }
  
  .frame-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .frame-name {
    margin-bottom: 10px;
  }
                           
  .frame-course {
    font-weight: bold;
  }
  .card-body {
    display: flex;
    align-items: center;
  }
  
  .card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .square-image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto; /* Center the image */
  }
  
  .square-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .admission-container {
    display: flex;
    height: 110vh;
  }
  
  .image-container {
    padding: 0;
  }
  
  .admission-image {
    width: 100%;
    height: 110vh;
    object-fit: cover;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 2rem; */
  }
  .width{
    width: auto;
  }
  .card-title{
    margin-right: 20px;
  }
  
